## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import h5py

In [37]:
#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [38]:
# Drop the non-beneficial ID columns, 'EIN'.
application_df = application_df.drop(columns=['EIN'], axis=1)

application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [39]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [40]:
# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [41]:
# Choose a cutoff value and create a list of names to be replaced
names_to_replace = list(name_counts[name_counts < 100].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(
        name, "Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [42]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [43]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts < 200].index)


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [44]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [45]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts_gt1 = class_counts.loc[class_counts > 1]
class_counts_gt1.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [46]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 200].index)


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1197
C7000      777
C1700      287
Name: CLASSIFICATION, dtype: int64

In [47]:
# Convert categorical data to numeric with `pd.get_dummies`
application_to_numeric = pd.get_dummies(application_df)

In [48]:
# Split our preprocessed data into our features and target arrays
X = application_to_numeric.drop(['IS_SUCCESSFUL'], axis=1)
y = application_to_numeric['IS_SUCCESSFUL']


# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [49]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [55]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 8
hidden_nodes_layer3 = 6

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_16 (Dense)            (None, 10)                770

 dense_17 (Dense)            (None, 8)                 88

 dense_18 (Dense)            (None, 6)                 54

 dense_19 (Dense)            (None, 1)                 7

=================================================================
Total params: 919 (3.59 KB)
Trainable params: 919 (3.59 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [56]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [57]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=40)

Epoch 1/40
804/804 [==============================] - 3s 3ms/step - loss: 0.6203 - accuracy: 0.6753
Epoch 2/40
804/804 [==============================] - 2s 3ms/step - loss: 0.5280 - accuracy: 0.7533
Epoch 3/40
804/804 [==============================] - 2s 3ms/step - loss: 0.5163 - accuracy: 0.7566
Epoch 4/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5102 - accuracy: 0.7583
Epoch 5/40
804/804 [==============================] - 2s 3ms/step - loss: 0.5041 - accuracy: 0.7592
Epoch 6/40
804/804 [==============================] - 2s 3ms/step - loss: 0.5007 - accuracy: 0.7598
Epoch 7/40
804/804 [==============================] - 3s 3ms/step - loss: 0.4984 - accuracy: 0.7594
Epoch 8/40
804/804 [==============================] - 3s 3ms/step - loss: 0.4963 - accuracy: 0.7596
Epoch 9/40
804/804 [==============================] - 3s 4ms/step - loss: 0.4947 - accuracy: 0.7604
Epoch 10/40
804/804 [==============================] - 2s 3ms/step - loss: 0.4927 - accuracy: 0.7607
Epoch 11/40
804/804 [==============================] - 2s 3ms/step - loss: 0.4913 - accuracy: 0.7615
Epoch 12/40
804/804 [==============================] - 2s 3ms/step - loss: 0.4900 - accuracy: 0.7611
Epoch 13/40
804/804 [==============================] - 3s 3ms/step - loss: 0.4891 - accuracy: 0.7620
Epoch 14/40
804/804 [==============================] - 3s 4ms/step - loss: 0.4881 - accuracy: 0.7626
Epoch 15/40
804/804 [==============================] - 2s 3ms/step - loss: 0.4874 - accuracy: 0.7618
Epoch 16/40
804/804 [==============================] - 2s 3ms/step - loss: 0.4866 - accuracy: 0.7628
Epoch 17/40
804/804 [==============================] - 2s 3ms/step - loss: 0.4863 - accuracy: 0.7617
Epoch 18/40
804/804 [==============================] - 3s 3ms/step - loss: 0.4856 - accuracy: 0.7627
Epoch 19/40
804/804 [==============================] - 3s 4ms/step - loss: 0.4856 - accuracy: 0.7614
Epoch 20/40
804/804 [==============================] - 2s 3ms/step - loss: 0.4848 - accuracy: 0.7631
Epoch 21/40
804/804 [==============================] - 2s 3ms/step - loss: 0.4842 - accuracy: 0.7633
Epoch 22/40
804/804 [==============================] - 2s 3ms/step - loss: 0.4844 - accuracy: 0.7619
Epoch 23/40
804/804 [==============================] - 3s 4ms/step - loss: 0.4843 - accuracy: 0.7622
Epoch 24/40
804/804 [==============================] - 3s 4ms/step - loss: 0.4838 - accuracy: 0.7627
Epoch 25/40
804/804 [==============================] - 2s 3ms/step - loss: 0.4837 - accuracy: 0.7637
Epoch 26/40
804/804 [==============================] - 2s 3ms/step - loss: 0.4836 - accuracy: 0.7634
Epoch 27/40
804/804 [==============================] - 2s 3ms/step - loss: 0.4830 - accuracy: 0.7631
Epoch 28/40
804/804 [==============================] - 3s 4ms/step - loss: 0.4829 - accuracy: 0.7631
Epoch 29/40
804/804 [==============================] - 3s 3ms/step - loss: 0.4827 - accuracy: 0.7633
Epoch 30/40
804/804 [==============================] - 2s 3ms/step - loss: 0.4828 - accuracy: 0.7619
Epoch 31/40
804/804 [==============================] - 2s 3ms/step - loss: 0.4825 - accuracy: 0.7624
Epoch 32/40
804/804 [==============================] - 2s 3ms/step - loss: 0.4822 - accuracy: 0.7641
Epoch 33/40
804/804 [==============================] - 3s 3ms/step - loss: 0.4820 - accuracy: 0.7628
Epoch 34/40
804/804 [==============================] - 3s 3ms/step - loss: 0.4820 - accuracy: 0.7626
Epoch 35/40
804/804 [==============================] - 3s 3ms/step - loss: 0.4817 - accuracy: 0.7633
Epoch 36/40
804/804 [==============================] - 2s 3ms/step - loss: 0.4815 - accuracy: 0.7624
Epoch 37/40
804/804 [==============================] - 3s 3ms/step - loss: 0.4813 - accuracy: 0.7626
Epoch 38/40
804/804 [==============================] - 3s 4ms/step - loss: 0.4812 - accuracy: 0.7628
Epoch 39/40
804/804 [==============================] - 2s 3ms/step - loss: 0.4811 - accuracy: 0.7638
Epoch 40/40
804/804 [==============================] - 2s 3ms/step - loss: 0.4810 - accuracy: 0.7624

In [58]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4950 - accuracy: 0.7542 - 547ms/epoch - 2ms/step
Loss: 0.4949851930141449, Accuracy: 0.7541691064834595

In [59]:
# Export our model to HDF5 file

nn.save('AlphabetSoupCharity_Optimization.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(